.container {
  height: 100vh;
  width: 100%;
  background: var(--theme-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
}

header > img {
  margin-right: 5px;
}

header a {
  margin-left: 20px;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(90, 98, 104, 0.5);
  border: 1px solid #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

header a:hover {
  color: #e3e3e3;
  background-color: var(--theme-primary);
  border-color: #fff;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin-bottom: 20px;
}

.buttonContainer button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(90, 98, 104, 0.5);
  border: 1px solid #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonContainer button:hover {
  color: #e3e3e3;
  background-color: var(--theme-primary);
  border-color: #fff;
  cursor: pointer;
}

button[value="annual"] {
  margin-right: 5px;
}

button[value="lastquarter"] {
  margin-left: 5px;
}
