.chartContainer {
  width: 50vw;
  height: 50vh;
  background: white;
  margin: 0 0 20px 0;
  padding: 20px 20px 40px 20px;
}

@media only screen and (max-width: 600px) {
  .chartContainer {
    width: 80vw;
  }
}
